<div class="conversations-header">
  <h1><%= current_user.profile.first_name %>'s Inbox</h1>
</div>

  <div class="conversations-container">
    <% @conversations.each do |conversation| %>
      <%= link_to conversation_messages_path(conversation), class: "div-link" do %>
        <div>
          <div class="convo-box">
            <p class="convo-p"><%= other_user(conversation) %></p>
            <div class="convo-text">
              <% if conversation.messages.last %>
                <p class="convo-p"><em>'<%= (conversation.messages.last.body) %>'</em></p>
              <% else %>
                <p class="convo-p"><em> No messages </em></p>  
              <% end %>
            </div > 
          </div>
        </div>  
      <% end %> 
    <% end %>

  </div>

<!-- .truncate(45, separator: ' ') -->