<div class="main-content">
  <main role="main" class="container">
    <div class="jumbotron">
      <h1>Give your project the edge with the help of an Expert</h1>
      <p class="lead">Connecting teams and individuals with experts</p>
      <a class="btn btn-lg btn-primary btn-blk" href="/profiles" role="button">Mingle with the experts &raquo;</a>
    </div>

  </main>
</div>