@import "bootstrap";

.profile-box {
  border: 1px solid cadetblue;
  width: 500px;
  padding: 10px;
  margin: 20px;
}

.login {
  color: white;
}

.profile-main-container {
  width: 700px;
  border: 1px solid cadetblue;
  padding: 10px;
  margin: 20px;
}

.image-box {
  width: 250px;
  height: 250px;
  border: 1px solid black;
  margin: 20px;
}