@import "bootstrap";

.black-white-header {
  background: black;
  color: white;
  width: 800px;
  padding: 15px;
  margin: 50px auto;
}

.custom-black-button {
  background: black;
  color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  width: 300px;
  border: 1px solid red;
}

.container {
  margin-top: 10%;
  text-align: center;
}

.btn-blk {
  background: black;
  border: 1px solid black;
}

.btn-blk-wide {
  background: black;
  border: 1px solid black;
  width: 150px;
}

.mingle-box {
  width: 200px;
  height: 200px;
  color: white;
  background: black;
  padding: 20px;
  text-align: center;
}

// Navbar CSS
.logo {
  margin-right: 15px;
}

.login {
  margin: 0 20px;
  color: white;
} 

.welcome {
  margin: 0 50px;
  font-size: 1.2em;
}

.message-box {
  margin-top: 100px;
  padding: 10px;
  border: 1px solid cadetblue;
}

.error-message-p {
  color: red;
  border: 1px solid red;
  background: rgb(245, 170, 170);
  padding: 10px;
  margin: 10px;
  width: 300px;
  text-align: center;
}

.success-message-p {
  color: green;
  border: 1px solid green;
  background: rgb(198, 245, 170);
  padding: 10px;
  margin: 10px;
  width: 300px;
  text-align: center;
}

// Profile-index

.profiles-index-container {
  display: flex;
  padding: 50px;
}

.profile-box {
  border: 1px solid cadetblue;
  width: 300px;
  padding: 10px;
  margin: 20px;
}

// Profile Show  //
.profile-page {
  width: 1500px;
  margin: 20px auto;
  border: 1px solid red;
}

.profile-main-container {
  float: right;
  width: 500px;
  border: 1px solid cadetblue;
  padding: 10px;
  margin: 20px;
}

.profile-main-container > h2 {
  background: black;
  color: white;
  margin: 20px 0;
  padding: 10px;
}

.bio-container {
  padding: 10px;
  background: black;
  color: white;
}

.image-box {
  width: 200px;
  height: 200px;
  margin: 20px;
  padding: 5px;
  margin-left: 0;
}

// Conversation css //
.conversations-header {
  text-align: center;
  margin: 20px auto;
  width: 500px;
}

.conversations-container {
  margin: 0 auto;
  display: flex;
  // flex-wrap: wrap;
  max-width: 800px;
}

.convo-box {
  width: 200px;
  height: 200px;
  border: 1px solid cadetblue;
  margin: 10px;
  padding: 20px;
  // flex: 1;
  border-radius: 5px;
}

.convo-text {
  padding: 5px;
  background: cadetblue;
  color: white;
  border-radius: 5px;
}

// Messages css //

.messages-header {
  text-align: center;
  margin: 20px;
}

.messages-container {
  width: 900px;
  border: 1px solid dodgerblue;
  padding: 10px;
  margin: 20px auto;
}

.new-msg-box {
  text-align: center;
  width: 600px;
  margin: 50px auto;
}

.noresize {
  resize: none;
  overflow-x:hidden;
}

.message-box-a {
  border: 1px solid cadetblue;
  padding: 10px;
  margin: 20px 0 20px 200px;
  width: 600px;
  display: flex;
  float: right;
}

.message-box-b {
  float: left;
  border: 1px solid coral;
  padding: 10px;
  margin: 20px;
  width: 600px;
  display: flex;
}

.message-avatar {
  width: 200px;
  height: 200px;
  background: rgb(207, 203, 203);
}

.message-content {
  padding: 10px;

}

// Sign up page

.sign-up-container {
  width: 500px;
  border: 1px solid cadetblue;
  padding: 10px;
  margin: 50px auto;
  text-align: center;
}
.field {
  margin: 30px;
  padding: 5px;
}

.have-account-box {
  border: 1px solid cadetblue;
  padding: 10px;
  margin: 50px auto;
  text-align: center;
}

// Edit page

.edit-page-container {
  width: 700px;
  border: 1px solid cadetblue;
  margin: 20px auto;
  padding: 15px;

}

// Support page

.support-container {
  width: 700px;
  border: 1px solid cadetblue;
  margin: 30px auto;
  padding: 15px;
}

.support-header {
  text-align: center;
}

// Booking page

.booking-container {
  width: 700px;
  border: 1px solid black;
  margin: 20px auto;
}

.booking-container > h2 {
  padding: 15px;
  background: black;
  color: white;
  font-size: 1.2em;
}

.btn-book {
  background: red;
  width: 200px;
  margin: 15px;
}

.btn-container {
  text-align: center;
}

// Booking show page

.session-container {
  width: 700px;
  border: 1px solid red;
  margin: 20px auto;
}

.session-container > h2 {
  padding: 15px;
  background: black;
  color: white;
  font-size: 1.2em;
}

.session-content-container {
  width: 500px;
  margin: 20px auto;
  display: flex;
}

.session-information {
  padding: 15px;
  width: 300px;
  border: 1px solid blue;
}