<footer class="footer-distributed">

  <div class="footer-right">

    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-github"></i></a>

  </div>

  <div class="footer-left">

    <p class="footer-links">
      <a href="/">Home</a>
      ·
      <a href="#">About</a>
      ·
      <a href="#">Support</a>
    </p>

    <p class="test">Expertise &copy; 2017</p>
  </div>
  <div class="footer-bottom-panel">
  </div>
</footer>